{% extends 'base.html' %}
{% block content %}

    <h2>Reset your Password</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'password_reset' %}"> Send confirmation link </a>
    </form>
{% endblock %}