<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock%}</title>
    </head>
    <body>
        <h1>My site</h1>
        <hr>
        {% block content %}
        {% endblock l%}
    </body>
</html>